[Unit]
Description=Slack Concierge provider broker socket for %i
Before=concierge-bot.service
Requires=concierge-provider-worker@%i.socket
After=concierge-provider-worker@%i.socket

[Socket]
ListenStream=/run/concierge-provider/%i/broker.sock
SocketUser=concierge-bot
SocketGroup=concierge-bot
SocketMode=0600
DirectoryMode=0711
RemoveOnStop=yes
Accept=no

[Install]
WantedBy=sockets.target
