[Unit]
Description=Run Monologue poll stub every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Persistent=true
Unit=monologue-poll.service

[Install]
WantedBy=timers.target
